  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Home</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <ion-list>
        <ion-img src="assets/img/logo.jpeg" alt="logo"></ion-img>
        <ion-item>&nbsp;</ion-item>
        <ion-button expand="block" fill="solid" color="primary" href="#">Login</ion-button>
        <ion-button expand="block" fill="solid" color="tertiary" [routerLink]="['/register']">Cadastro</ion-button>
      </ion-list>
    </div>
  </ion-content>